.properties-editor
  position: fixed
  top: 0
  right: 0
  width: 280px
  bottom: 297px
  border-left: 1px solid #333
  background: #111
  font-size: 11px
  color: #fafafa
  overflow: auto

  .properties-is-closed &
    right: -281px

  .timeline-is-closed &
    bottom: 97px

  &__main
    padding: 20px 10px

  .property
    +pie-clearfix
    min-height: 25px

.property__label
  position: relative
  display: inline-block
  min-width: 50px
  margin-right: 10px

.property__key
  display: inline-block
  width: 6px
  height: 6px
  padding: 0
  margin-right: 5px
  background: #333
  border: 0
  border-radius: 3px
  &:focus
    outline: 0

.property__input
  background: #111
  border: 1px solid #333
  color: #fff
  padding: 2px 5px

a.menu-item--toggle-side
  position: absolute
  top: 4px
  left: 10px

  .properties-is-closed &
    left: -20px

  i
    &:before
      content: "\f054"

  &.menu-item--toggle-left
    i
      &:before
        content: "\f053"
