.properties-editor
  position: fixed
  top: 0
  right: 0
  width: 280px
  bottom: 297px
  border-left: 1px solid #1d1d1d
  background: #111
  font-size: 11px
  color: #888
  overflow: auto
  //-webkit-font-smoothing: antialiased

  .properties-is-closed &
    right: -281px
    overflow: visible

  .timeline-is-closed &
    bottom: 97px

  &__main
    padding: 10px 10px

  .property
    +pie-clearfix
    min-height: 25px

  &__title
    margin-top: 0
    margin-bottom: 5px
    color: #fff
    &:after
      content: ""
      display: block
      margin-top: 5px
      margin-left: -10px
      margin-right: -10px
      height: 1px
      background: #222

.property__label
  position: relative
  display: inline-block
  min-width: 50px
  margin-right: 10px
  color: #fff

.property__key
  display: inline-block
  position: relative
  top: 1px
  width: 8px
  height: 8px
  padding: 0
  margin-right: 7px
  background: #333
  border: 0
  border-radius: 4px
  z-index: 500
  &:focus
    outline: 0

.property__input
  background: #111
  border: 1px solid #333
  color: #fff
  padding: 2px 5px

a.menu-item--toggle-side
  position: absolute
  top: 8px
  right: -3px

  .properties-is-closed &
    right: auto
    left: -27px

  i
    &:before
      content: "\f054"

  &.menu-item--toggle-left
    i
      &:before
        content: "\f053"
