// Custom colors
$primary: #e66c00
$black: #333
$white: #fff
$background: $black

// Blueprint colors
$font-color: $white
$header-color: $font-color - #111

$link-color: $primary
$link-hover-color: $white
$link-focus-color: $link-hover-color
$link-active-color: $link-color
$link-visited-color: $link-color
